html body {
    background-color: #212529;
    margin: auto;
    font-size: 13px;
}

div {
    margin-bottom: 30px !important;
}

.header {
    padding-top: 90px !important;
    padding-bottom: 90px !important;
    text-align: center;
}

.content {
    text-align: justify;
    margin-bottom: 50px; 
}

.nes-list.is-disc li::before {
    color: white;
}

footer {
    color: #fff;
    text-align: center;
    margin: 30px auto;
    vertical-align: middle;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px)
{
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.40%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .header {
        padding-top: 16px !important;
        padding-bottom: 16px !important;
        margin: auto !important;
    }

    .content {
        margin: auto !important;
    }
}